doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/material-design-lite/material.css')
    link(href="//fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en", rel="stylesheet", type="text/css")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/bundle.css')
    link(rel="shortcut icon" href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    block content
    script(src="/bower_components/material-design-lite/material.js")
    //- script(src='//cdn.auth0.com/js/lock-9.1.min.js')
    script(type="text/javascript", src="/app.bundle.js")
